$video_domains:
	"youtu.be",
	"youtube.com",
	"vimeo.com",
	"vid.me",
	"streamable.com",
	"dailymotion.com";

$image_extensions:
	".jpg",
	".jpeg",
	".gif",
	".png";

$image_domains:
	"i.redd.it",
	"imgur.com",
	"gfycat.com",
	"minus.com",
	"flickr.com",
	"deviantart.com",
	"reddituploads.com",
	"artstation.com";

@-moz-document domain('reddit.com') {
	body {
		font-family: "Charter", Georgia, serif !important;
	}
	#sr-header-area {
		border-bottom: none !important;
	}
	.sr-list {
		margin-left: 4px !important;
	}
	.sr-bar {
		.separator {
			display: none !important;
		}
		li {
			margin: auto 2px !important;
			font-size: 120%;
		}
	}
	.sr-list a {
		text-transform: lowercase !important;
	}
	#header {
		border-bottom: none !important;
		box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.3);
	}
	#header-bottom-left {
		background-color: #fff;
		.tabmenu {
			margin-bottom: 3px !important;
			li a {
				border: none !important;
				background: none !important;
			}
		}
		.redditname {
			display: inline-block !important;
			margin-left: 8px !important;
		}
	}
	#header-bottom-right {
		border-radius: 1px !important;
		background-color: #eee !important;
	}
	.content[role="main"] {
		margin-right: 0px;
	}
	.side {
		position: relative;
		top: -44px;
		right: -5px;
		z-index: 99;
		overflow: hidden;
		margin-top: 50px;
		padding: 5px;
		padding: 0px 5px 0px 5px !important;
		max-height: 4.4em;
		box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.2);
		transition: max-height 2s;

		&:hover {
			max-height: 300em;
		}

		.sidebox {
			.spacer {
				display: none;
			}
			&.submit, &.create {
				border-radius: 3px;
				background: #efefef !important;
			}
			&.submit .morelink, &.create .morelink {
				border: none !important;
				background: none !important;
			}
			&.submit .morelink .nub, &.create .morelink .nub {
				display: none !important;
			}
		}

		.goldvertisement {
			border: none !important;
			box-shadow: none !important;
			.inner {
				border: none !important;
			}
		}

		.sidecontentbox .content {
			border: none !important;
			border-radius: 3px;
			background: #fafafa;
		}
	}

	.organic-listing {
		border: none !important;
		border-radius: 2px !important;
	}

	.link.promotedlink.promoted {
		background-color: #fafafa !important;
	}

	.thing {
		margin-bottom: 15px !important;

		.midcol {
			width: 7ex !important;
		}

		.title {
			color: #444 !important;
			font-size: 140% !important;

		}

		&%video-rules .title {
			color: hsl(200, 60%, 50%) !important;
		}

		&%image-rules .title {
			color: hsl(30, 80%, 40%) !important;
		}

		@each $item in $video_domains{
			&[data-domain*="#{$item}"]{
				@extend %video-rules;
			}
		}

		@each $item in $image_extensions{
			$upc: to-upper-case($string: $item);
			&[data-url*="#{$item}"]{
				@extend %image-rules;
			}
			&[data-url*="#{$upc}"]{
				@extend %image-rules;
			}
		}

		@each $item in $image_domains{
			&[data-domain*="#{$item}"]{
				@extend %image-rules;
			}
		}

		.title:visited {
			color: #999 !important;
		}
	}

	.domain {
		display: block !important;
		margin: 4px 0px;
		padding: 2px;
		border-radius: 2px;
		background: rgba(0, 0, 0, 0.03);
		color: rgba(0, 0, 0, 0) !important;
		vertical-align: middle;
		a {
			font-size: 120% !important;
		}
	}

	.thing {
		&.link {
			margin-left: 100px !important;
		}
		.tagline {
			display: block !important;
			margin: 4px 0px !important;
			margin-right: 6px !important;
			padding: 2px !important;
			padding-left: 6px !important;
			border-radius: 2px;
			background: rgba(0, 0, 0, 0.03);
			font-size: 120% !important;
		}
		&.link.last-clicked {
			overflow: visible !important;
			border: none !important;
		}
		.rank {
			display: none !important;
		}
	}

	.link .flat-list {
		margin-top: 2px !important;
		li {
			opacity: 0.3;
			&.first {
				font-size: 140%;
				opacity: 1;
			}
		}
	}

	.expando-button {
		width: 20px !important;
		height: 20px !important;
		border-radius: 2px;
		background: #444 !important;
		&:after, &.expanded:after{
			position:relative;
			color:white;
			font-size:16px;
			margin-left:5px;
		}
		&:after{
			content:"▹";
		}
		&.expanded {
			background: hsl(0, 60%, 60%) !important;
			&:after{
				content:"▿";
				margin-top:-1px;
			}
		}

	}

	.thumbnail {
		margin-left: (-130px) !important;
	}

	.nextprev a {
		border: none !important;
		background: none !important;
	}

	.thing.subreddit {
		.entry {
			margin-left: 100px !important;
		}
		.midcol {
			width: 80px !important;
		}
	}

	.comment {
		.flat-list.buttons {
			opacity: 0.2;
			&:hover {
				opacity: 1;
			}
		}
		.tagline .expand {
			margin-left: (-4px) !important;
		}
	}

	.content{
		.help {
			display: none;
		}
	}

	.search-result {
		margin-left: 70px;
		.thumbnail {
			margin-left: -80px !important;
		}
	}
}