@-moz-document domain('reddit.com') {
	body {
		font-family: "Charter", Georgia, serif !important;
	}
	#sr-header-area {
		border-bottom: none !important;
	}
	.sr-list {
		margin-left: 4px !important;
	}
	.sr-bar .separator {
		display: none !important;
	}
	.sr-bar li {
		margin: auto 2px !important;
		font-size: 120%;
	}
	.sr-list a {
		text-transform: lowercase !important;
	}
	#header {
		border-bottom: none !important;
		box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.3);
	}
	#header-bottom-left {
		background-color: #fff;
	}
	#header-bottom-left .tabmenu {
		margin-bottom: 3px !important;
	}
	#header-bottom-left .tabmenu li a {
		border: none !important;
		background: none !important;
	}
	#header-bottom-left .redditname {
		display: inline-block !important;
		margin-left: 8px !important;
	}
	#header-bottom-right {
		border-radius: 1px !important;
		background-color: #eee !important;
	}
	.content[role="main"] {
		margin-right: 0px;
	}
	.side {
		position: relative;
		top: -44px;
		right: -5px;
		z-index: 99;
		overflow: hidden;
		margin-top: 50px;
		padding: 5px;
		padding: 0px 5px 0px 5px !important;
		max-height: 4.4em;
		box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.2);
		-webkit-transition: max-height 2s;
		transition: max-height 2s;
	}
	.side:hover {
		max-height: 300em;
	}
	.side .sidebox .spacer {
		display: none;
	}
	.side .sidebox.submit, .side .sidebox.create {
		border-radius: 3px;
		background: #efefef !important;
	}
	.side .sidebox.submit .morelink, .side .sidebox.create .morelink {
		border: none !important;
		background: none !important;
	}
	.side .sidebox.submit .morelink .nub, .side .sidebox.create .morelink .nub {
		display: none !important;
	}
	.side .goldvertisement {
		border: none !important;
		box-shadow: none !important;
	}
	.side .goldvertisement .inner {
		border: none !important;
	}
	.side .sidecontentbox .content {
		border: none !important;
		border-radius: 3px;
		background: #fafafa;
	}
	.organic-listing {
		border: none !important;
		border-radius: 2px !important;
	}
	.link.promotedlink.promoted {
		background-color: #fafafa !important;
	}
	.thing {
		margin-bottom: 15px !important;
	}
	.thing .midcol {
		width: 7ex !important;
	}
	.thing .title {
		color: #444 !important;
		font-size: 140% !important;
	}
	.thing[data-domain*="youtu.be"] .title, .thing[data-domain*="youtube.com"] .title, .thing[data-domain*="vimeo.com"] .title, .thing[data-domain*="dailymotion.com"] .title {
		color: #3399cc !important;
	}
	.thing[data-url*=".jpg"] .title, .thing[data-url*=".JPG"] .title, .thing[data-url*=".jpeg"] .title, .thing[data-url*=".JPEG"] .title, .thing[data-url*=".gif"] .title, .thing[data-url*=".GIF"] .title, .thing[data-url*=".png"] .title, .thing[data-url*=".PNG"] .title, .thing[data-domain*="i.redd.it"] .title, .thing[data-domain*="imgur.com"] .title, .thing[data-domain*="gfycat.com"] .title, .thing[data-domain*="minus.com"] .title, .thing[data-domain*="flickr.com"] .title, .thing[data-domain*="deviantart.com"] .title, .thing[data-domain*="reddituploads.com"] .title, .thing[data-domain*="artstation.com"] .title {
		color: #b86614 !important;
	}
	.thing .title:visited {
		color: #999 !important;
	}
	.domain {
		display: block !important;
		margin: 4px 0px;
		padding: 2px;
		border-radius: 2px;
		background: rgba(0, 0, 0, 0.03);
		color: transparent !important;
		vertical-align: middle;
	}
	.domain a {
		font-size: 120% !important;
	}
	.thing.link {
		margin-left: 100px !important;
	}
	.thing .tagline {
		display: block !important;
		margin: 4px 0px !important;
		margin-right: 6px !important;
		padding: 2px !important;
		padding-left: 6px !important;
		border-radius: 2px;
		background: rgba(0, 0, 0, 0.03);
		font-size: 120% !important;
	}
	.thing.link.last-clicked {
		overflow: visible !important;
		border: none !important;
	}
	.thing .rank {
		display: none !important;
	}
	.link .flat-list {
		margin-top: 2px !important;
	}
	.link .flat-list li {
		opacity: 0.3;
	}
	.link .flat-list li.first {
		font-size: 140%;
		opacity: 1;
	}
	.expando-button {
		width: 20px !important;
		height: 20px !important;
		border-radius: 2px;
		background: #444 !important;
	}
	.expando-button.expanded {
		background: #d65c5c !important;
	}
	.thumbnail {
		margin-left: -130px !important;
	}
	.nextprev a {
		border: none !important;
		background: none !important;
	}
	.thing.subreddit .entry {
		margin-left: 100px !important;
	}
	.thing.subreddit .midcol {
		width: 80px !important;
	}
	.comment .flat-list.buttons {
		opacity: 0.2;
	}
	.comment .flat-list.buttons:hover {
		opacity: 1;
	}
	.comment .tagline .expand {
		margin-left: -4px !important;
	}
	.content .help {
		display: none;
	}
	.search-result {
		margin-left: 70px;
	}
	.search-result .thumbnail {
		margin-left: -80px !important;
	}
}
